# all downloaded files 
*.txt

# output dir of the downloader script 
CORIOLIS/

bit.sea/
1_BUILD_CHECKED_DATASET/bit.sea/
0_DOWNLOAD_data_from_CORIOLISftp/bit.sea/


__pycache__
0_DOWNLOAD_data_from_CORIOLISftp/__pycache__
1_BUILD_CHECKED_DATASET/__pycache__
